{% load static %}
<!DOCTYPE html>
<html lang="ja">

  <head>
    <title>To Do Application</title>
    <meta charset="UTF-8">
    <meta name="author" content="INIAD">
  </head>

  <body>
    <h1>Edit Task</h1>
    <form action="{% url 'edit' task.id %}" method="post">
      {% csrf_token %}
      <div>
        <label for="titleInput">Title</label><br>
        <input id="titleInput" name="title" type="text" value="{{ task.title }}">
      </div>
      <div>
        <label for="dueInput">Due at:</label><br>
        <input id="dueInput" name="due_at" type="datetime-local" value="{{ task.due_at|date:'Y-m-d\TH:i' }}">
      </div>
      <div>
        <label for="detailInput">Detail</label><br>
        <textarea id="detailInput" name="detail" rows="4">{{ task.detail }}</textarea>
      </div>
      <div>
        <label for="completedInput">
          <input id="completedInput" name="completed" type="checkbox" {% if task.completed %}checked{% endif %}>
          Completed
        </label>
      </div>
      <div>
        <button type="submit">Save</button>
      </div>
    </form>
    <br>

    <div>
      <a href="{% url 'detail' task.id %}">Back to detail</a>
    </div>
  </body>

</html>